.product-card__remove-product {
    cursor: pointer;
}

.product-card__img {
    height: 150px;
    width: 300px;
    object-fit: cover;
}

.cart__delete-item--img {
    height: 25px;
}

.card-title:hover, .card-text:first-of-type:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
}
