<div *ngFor="let product of cartProducts$ | async" class="row my-3 p-1 cart__product">
    <div class="col-4">
        <img src="{{ product.thumbnail }}" class="img-fluid rounded" />
    </div>
    <div class="col-4">
        <h6 class="mb-0">{{ product.title }}</h6>
        <span>{{ product.brand }}</span><br />
        <span>${{ product.price }}</span>
    </div>
    <div class="col-3">
        <!-- number changer -->
    </div>
    <div class="col-1 my-auto">
        <a (click)="removeFromCart(product)" class="product-card__remove-product"><img src="../../assets/trash.png"
                class="w-75" /></a>
    </div>
</div>
