<div class="row">
    <!-- LEFT SIDE -->
    <div class="cart-header col-9">
        <div class="row">
            <div class="d-flex align-items-center">
                <img class="cart__header--icon me-2"
                     src="../../assets/cart.png"
                     alt="cart icon" />
                <span class="watchlist__header--title fs-2 fw-semibold">Cart</span>
                <span class="ms-auto me-2 fs-4 fw-semibold">Items: {{ cartProductsNumber$ | async }}</span>
            </div>
        </div>

        <ys-cart-product
            [cartProducts$]="cartProducts$"
            (removeFromCartEvent)="removeFromCart($event)"
        ></ys-cart-product>
    </div>

    <!-- RIGHT SIDE -->
    <div class="col-3 cart__summary">
        <h3>Summary</h3>

        <table class="table">
            <tr>
                <td>Shipping</td>
                <td>Gratis</td>
            </tr>
            <tr>
                <td>Total amount</td>
                <td>${{ cartProductsTotalAmount$ | async }}</td>
            </tr>
        </table>

        <h6>Expected shipping delivery</h6>
        <span>{{ deliveryDate }}</span>

        <button class="btn btn-outline-success w-100 mt-5">
            Go to checkout
        </button>
    </div>
</div>
