<div class="row mt-4">
    <div class="col-2">
        <ys-categories></ys-categories>
    </div>

    <div class="col-8">
        <div class="mb-3" *ngIf="category">
            <span class="fs-4 fw-bold">{{ category | uppercase }}</span>
            <button
                (click)="clearProductCategoryQuery()"
                class="btn btn-sm btn-outline-danger category--header__btn"
            >
                X
            </button>
        </div>

        <div class="row">
            <div *ngFor="let product of products | async" class="col-4 mb-3">
                <ys-product
                    [product]="product"
                    (addToCartEvent)="
                        addToCart($event); setAddedProduct($event)
                    "
                    (addToWatchlistEvent)="addToWatchlist($event)"
                >
                </ys-product>
            </div>
        </div>
    </div>

    <div class="col-2">
        <ys-filters></ys-filters>
    </div>

    <!-- <ys-toast></ys-toast> -->
</div>
