<div hover *ngFor="let product of watchlistProducts$ | async" class="card my-3">
    <div class="d-flex">
        <div>
            <img
                src="{{ product.thumbnail }}"
                class="product-card__img img-fluid rounded-start"
            />
        </div>
        <div>
            <div class="card-body">
                <h5 class="card-title d-inline-block">{{ product.title }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">
                    <small class="text-muted"
                    >{{ product.stock }} units left</small>
                </p>
            </div>
            <a (click)="removeFromWatchlist(product)"
                class="product-card__remove-product"
            ><img src="../../assets/unstar.png"
            /></a>
            <a (click)="addToCart(product)" class="product-card__add-product"
            ><img src="../../assets/cart.png"
            /></a>
        </div>
    </div>
</div>
